/* index.css */
#comida {
    width: 100vw;
    height: 500px;
}

main {
    background-color: #000000;
    color: #f8f8f8;
    padding-bottom: 4rem;
    width: 100vw;
}

.destaque {
    padding: 1.5rem;
    border: 2px solid #ff4400;
    border-radius: 8px;
    margin: 2rem auto;
    max-width: 500px;
    font-size: 20px;
}

.servicos {
    margin: 40px 0;
    width: 100vw;
    font-size: 20px;
    line-height: 1.8;
    text-align: center;
}